{% extends 'main/layout.html' %}

{% block title %} MAIN PAGE {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
    <p>hese “smart devices” are able to communicate with each other creating the so-called Internet of Things.
Эти «умные устройства» способны общаться друг с другом, создавая так называемый «Интернет вещей».
The Internet of Things is here, they cried.
Интернет вещей здесь, кричали они.
My company belongs to the Internet of Things industry.
Моя компания относится к индустрии Интернета вещей.</p>
<button class="btn btn-warning"> на страницу понос</button>
        {% for el in values %}
            {% if el == 'hihi' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor%}

        {{ obj.age|upper }}
    </div>
{% endblock %}