{% extends 'main/layout.html' %}

{% block title %} Добро пожаловать в мир Vinustera! {% endblock %}

{% block content %}
    <div class="features">
        <h1>Добро пожаловать в мир Vinustera!</h1>
    <p>
Здесь каждая история начинается с вашего воображения. Вступите в удивительный мир фантазии, где вы сможете создавать своих уникальных персонажей, исследовать обширную карту мира и вступать в захватывающие приключения вместе с друзьями. Вас ждут невероятные возможности, увлекательные истории и множество приятных сюрпризов.

Присоединяйтесь к нам и начните свое увлекательное путешествие в мире Vinustera прямо сейчас!</p>
<button class="btn btn-warning"> на страницу понос</button>
        {% for el in values %}
            {% if el == 'hihi' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {{ obj.age|upper }}
    </div>
{% endblock %}