body {
    margin: 0;
    padding: 0;
    background-color: #213036;
    font-family: Arial, sans-serif;
    color: #fff;
}



main .map2 {
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border: 1px solid #ccc;
    overflow: hidden; /* Обрезаем изображение, если оно выходит за границы контейнера */
}

main .map2 img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease; /* Добавляем плавную анимацию изменения масштаба */
}

main .slider {
    text-align: center; /* Выравниваем содержимое по центру горизонтально */
    width: 60%; /* Ширина контейнера ползунка */
    margin: 0 auto; /* Центрируем контейнер горизонтально */
}

/* Стилизация ползунка */
#slider {
    width: 100%; /* Занимает всю ширину контейнера */
}

main .features {
    margin: 0 auto;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}











.map1 {
    display: flex; /* Используем flex-контейнер */
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
    width: 100%; /* Ширина элемента 100% (или какая вам нужна) */
    height: 300px; /* Высота элемента (или какая вам нужна) */
}

.map1 img {
    max-width: 80%; /* Максимальная ширина изображения равна ширине родительского элемента */
     /* Максимальная высота изображения равна высоте родительского элемента */
}